<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inGame</servlet-name>
        <servlet-class>Servlets.inGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exitGame</servlet-name>
        <servlet-class>Servlets.exitGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inGame</servlet-name>
        <url-pattern>/inGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exitGame</servlet-name>
        <url-pattern>/exitGame</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
